Variadic Functions

In [4]:
def multiply(a:int|float,b:int|float)->int|float:
    """
    This function multiplies the two numbers
    """
    m = a*b
    return m

In [5]:
multiply(3, 4)

12

In [6]:
def func1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [7]:
func1(1,2,3)

(1, 2, 3)
<class 'tuple'>
1
2
3

In [9]:
func1(6,7,"g","sf",45.6)

(6, 7, 'g', 'sf', 45.6)
<class 'tuple'>
6
7
g
sf
45.6

In [11]:
b = [1,3.4,"dfg"]

In [13]:
func1(*b)

(1, 3.4, 'dfg')
<class 'tuple'>
1
3.4
dfg

## Multiplying Multiple Number

In [17]:
def product(*args):
    p=1
    for i in args:
        p = p*i


    return p

In [19]:
product(5,6,7)

210

In [18]:
product(3,5)

15

## Biling example

#1 input [product name,price,qty]
#2 perform billing and add 18%GST

In [25]:
def billing(tax_rate=18,*args):
    base_total = 0

    for name , price , qty in args:
        item_total = price*qty
        base_total = base_total + item_total
        print(f"Product Name :{name},Price : {price},QTY : {qty}")
        print(f"Item total : {item_total} ")
        print("\n===================================================\n")

    tax = (tax_rate/100)*base_total

    final_total = base_total+tax

    print(f" Tax : {tax}")
    print(f"Total Bill : {final_total}")

In [22]:
c1 = [
    ("Mobile", 45000, 1),
    ("Screen Guard", 1000, 2),
    ("Mobile Cover", 300, 2)
]

In [23]:
c1

[('Mobile', 45000, 1), ('Screen Guard', 1000, 2), ('Mobile Cover', 300, 2)]

In [26]:
bill1 = billing(18, *c1)

Product Name :Mobile,Price : 45000,QTY : 1
Item total : 45000

===================================================

Product Name :Screen Guard,Price : 1000,QTY : 2
Item total : 2000

===================================================

Product Name :Mobile Cover,Price : 300,QTY : 2
Item total : 600

===================================================

 Tax : 8568.0
Total Bill : 56168.0

In [28]:
bill1

In [31]:
bill2 = billing(

    18,
    ("laptop",67000,2),
    ("mouse",500,4)
    )

Product Name :laptop,Price : 67000,QTY : 2
Item total : 134000

===================================================

Product Name :mouse,Price : 500,QTY : 4
Item total : 2000

===================================================

 Tax : 24480.0
Total Bill : 160480.0

In [32]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key,value in kwargs.items():
        print(f"key:{key},value:{value}")

In [33]:
func2(name="atharv",age=21)

{'name': 'atharv', 'age': 21}
<class 'dict'>
key:name,value:atharv
key:age,value:21

In [34]:
func2(name="Aditi", age=32, email="aditi@gmail.com", blood_group = "A+ve")

{'name': 'Aditi', 'age': 32, 'email': 'aditi@gmail.com', 'blood_group': 'A+ve'}
<class 'dict'>
key:name,value:Aditi
key:age,value:32
key:email,value:aditi@gmail.com
key:blood_group,value:A+ve

In [38]:
def create_user(**kwargs):
    user = {
        "name": "Not Available",
        "age": "Not Available",
        "occupation": "Not Available",
        "email": "Not Available"
    }

    user.update(kwargs)

    return user

In [39]:
u1 = create_user(name="atharv",age=21)

In [40]:
u1

{'name': 'atharv',
 'age': 21,
 'occupation': 'Not Available',
 'email': 'Not Available'}

In [41]:
u2 = create_user(
    name = "atharv",
    age = 21,
    occupation = "IT",
    email = "atharv@gmail.com",
    contact = 9975884760,
    blood_group = "O+ve"
)

In [42]:
u2

{'name': 'atharv',
 'age': 21,
 'occupation': 'IT',
 'email': 'atharv@gmail.com',
 'contact': 9975884760,
 'blood_group': 'O+ve'}